<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      // 第一种:
      var a = [1, 2];
      a.join = a.shift; // 数组进行隐式类型转换也就是 toSting 的时候就是调用的 join(), valueOf 返回自身
      console.log(a == 1 && a == 2);

      function check() {
        let cnt = 0;
        for (let i = 0; i < 100000; i++) cnt++;
      }

      let start = new Date().getTime();
      check();
      let end = new Date().getTime();
      console.log(end - start); //3 该方法精准度不高，只能在ms内

      console.time("aaa");
      check();
      console.timeEnd("aaa"); //aaa: 3.519ms

      (2).toFixed();
      // 让 js 解释器认为 . 是函数调用
      Number(2).toFixed()(2).toFixed();
    </script>
  </body>
</html>
