<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>


    const readline2  ="a"
    const readline1 = "asdssSSFDFNssal12345 fjdo "

    const str = readline1.toLowerCase();
    const key = readline2.toLowerCase();
    function findKeyCount(str, key) {
        let num = 0;
        let i = 0;
        let arr = str.split("");
        for (i; i < arr.length; i++) {
            if (arr[i] == key) {
                num++;
            }


        }
        return num;

    }
    const result = findKeyCount(str, key);
    console.log(result)
</script>
</body>
</html>