<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .box {
        width: 100px;
        height: 100px;

        border: 1px solid #fff;
        margin: 10px;
        padding: 10px;
        font-family: "Arial";
        font-size: large;
        color: red;
        word-spacing: 10px;
        letter-spacing: 10px;
        font-weight: bold;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="box">
      abc
      <p>abc</p>
    </div>
  </body>
</html>
